<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>제목!!!</title>
	</head>
	<body>
		<a th:href="@{/hello/{id}(id=${member.memId}, query=${member.memNm}, query=${member.email})}">Hello 페이지 이동</a>
		<div th:object="${member}">
			<dl>
				<dt>아이디</dt>
				<dd th:text="*{memId}"></dd>
			</dl>
			<dl>
				<dt>회원명</dt>
				<dd th:text="*{memNm}"></dd>
			</dl>
			<dl>
				<dt>이메일</dt>
				<dd th:text="*{email}"></dd>
			</dl>
			<dl>
				<dt>휴대전화</dt>
				<dd th:text="*{mobile}"></dd>
			</dl>
			<dl>
				<dt>자기소개</dt>
				<dd th:utext="*{intro}"></dd>
			</dl>
			<dl>
				<dt>가입일</dt>
				<dd th:text="*{regDt}"></dd>
			</dl>
		</div>
	</body>
</html>