<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
	
	<main layout:fragment="content">
		<form method="POST" th:action="@{/member/join}" th:object="${joinRequest}">
		<div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
			<dl>
				<dt th:text="#{member.memId}"></dt>
				<dd>
					<input type="text" name="memId" th:field="*{memId}">
					<div th:each="err : ${#fields.errors('memId')}" th:text="${err}"></div>
				</dd>
			</dl>
			<dl>
				<dt th:text="#{member.memPw}"></dt>
				<dd>
					<input type="password" name="memPw" th:field="*{memPw}">
					<div th:each="err : ${#fields.errors('memPw')}" th:text="${err}"></div>
				</dd>
			</dl>
			<dl>
				<dt th:text="#{member.memPwRe}"></dt>
				<dd>
					<input type="password" name="memPwRe" th:field="*{memPwRe}">
					<div th:each="err : ${#fields.errors('memPwRe')}" th:text="${err}"></div>
				</dd>
			</dl>
			<dl>
				<dt th:text="#{member.memNm}"></dt>
				<dd>
					<input type="text" name="memNm" th:field="*{memNm}">
					<div th:each="err : ${#fields.errors('memNm')}" th:text="${err}"></div>
				</dd>
			</dl>
			<dl>
				<dt th:text="#{member.email}"></dt>
				<dd>
					<input type="text" name="email" th:field="*{email}">
					<div th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
				</dd>
			</dl>
			<dl>
				<dt th:text="#{member.mobile}"></dt>
				<dd>
					<input type="text" name="mobile" th:field="*{mobile}">
					<div th:each="err : ${#fields.errors('mobile')}" th:text="${err}"></div>
				</dd>
			</dl>
			<div>
				<input type="checkbox" name="agree" value="true" id = "agree" th:field="*{agree}">
				<label for="agree" th:text="#{member.agree}"></label>
			</div>
			<div th:each="err : ${#fields.errors('agree')}" th:text="${err}"></div>
			<button type="submit" th:text="#{member.join}"></button>
		</form>                                                                                                    
	</main>
</html>
