<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>회원목록!</title>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>아이디</th>
					<th>회원명</th>
					<th>이메일</th>
					<th>휴대전화</th>
					<th>가입일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="member, status : ${members}" th:object="${member}">
					<td th:if="${status.count % 2 == 0}">짝수</td>
					<td th:unless="${status.count % 2 == 0}">홀수</td>
					<td th:text="*{@utils.replace(memId, 'user', 'members')}"></td><!-- 사용자 정의 함수  -->
					<!-- <td th:text="*{#strings.replace(memId, 'user', 'member')}"></td> --><!-- strings  -->
					<td th:text="*{memNm}"></td>
					<td th:text="*{email}"></td>
					<td th:text="*{mobile}"></td>
					<td th:text="*{#temporals.format(regDt, 'yyyy.MM.dd HH:mm:ss')}"></td>
				</tr>
			</tbody>
		</table>
		<div th:each="number : ${#numbers.sequence(1000, 2000, 100)}" th:text="${#numbers.formatInteger(number, 3, 'COMMA')}">
		</div>
	</body>
</html>